<!DOCTYPE html>
<!-- We don't use custom title here, so in the layout parameters, the title is left as null (_) -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(_, ~{::section})}" lang="en">
<body>
<section>
    <ul>
        <li th:each="seller:${sellers}" th:text="${seller.getName()}"></li>
    </ul>
    <img th:each="seller:${sellers}" th:src="'/sellers/' + ${seller.getId()} + '/image'" alt="">
    <p>
        Total: <span th:text="${sellerCount}"></span>
    </p>
</section>
</body>
</html>